DOTENV_CONFIG_QUIET=true #This is needed because the dotenv package logs ads without this for some reason
HOST=localhost
PORT=3000
SECRET_KEY=example_secret_key
DB_HOST=localhost
DB_USER=card_game_user
DB_PASS=pass
DB_NAME=card_game