<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="dashboardView" class="card">
        <h2>Welcome</h2>

        <p id="userID"></p>

        <button id="logoutBtn">Logout</button>
    </div>
</body>

<script>
    const userIDText = document.getElementById("userID");
    const logoutBtn = document.getElementById("logoutBtn");

    async function checkAuth() {
        const res = await fetch("/api/me");
        const data = await res.json();

        if (!data.loggedIn) {
            window.location.href = "/login";
            return;
        }
        userIDText.textContent = `User ID: ${data.user.id}`;
    }

    checkAuth();

    logoutBtn.addEventListener("click", async () => {
        await fetch("/api/logout", {
            method: "POST"
        });

        await checkAuth();
    });
</script>

</html>