<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/gameboard.css">
</head>

<body>

    <main id="game-table">
        <!-- Player's profile (avatar, HP) -->
        <div class="profile-wrapper left-side">
            <div class="profile-row">
                <div class="avatar player-avatar"></div>
                <div id="left-hp" class="hp-container"></div>
            </div>
            <div class="player-name" id="playerName">My Username</div>
        </div>

        <div class="profile-wrapper right-side">
            <div class="profile-row">
                <div id="right-hp" class="hp-container"></div>
                <div class="avatar opponent-avatar"></div>
            </div>
            <div class="player-name" id="opponentName">Opponent Name</div>
        </div>

        <!-- Opponent's front row -->
        <div class="card-row" id="opponent-front-row">
            <div class="card-slot" data-index="0"></div>
            <div class="card-slot" data-index="1"></div>
            <div class="card-slot" data-index="2"></div>
            <div class="card-slot" data-index="3"></div>
        </div>

        <!-- Player's row (bottom) -->
        <div class="card-row" id="player-front-row">
            <div class="card-slot" data-index="0"></div>
            <div class="card-slot" data-index="1"></div>
            <div class="card-slot" data-index="2"></div>
            <div class="card-slot" data-index="3"></div>
        </div>

        <!-- Energy counter -->
        <div id="energy-counter">
            <span id="energy-amount" class="energy-zero">0</span>
            <div class="energy-icon"></div>
        </div>

        <div id="player-hand" class="hand-container"></div>

        <!-- Decks container -->
        <div id="decks-container">
            <div class="deck" id="random-deck"></div>
            <div class="deck" id="free-deck"></div>
        </div>

        <!-- Card Reveal Overlay -->
        <div id="card-reveal-overlay">
            <div id="revealed-card"></div>
            <div class="reveal-hint">Click to take into hand</div>
        </div>

        <!-- End Turn Button -->
        <button id="end-turn-btn" class="end-turn-btn"
            style="background-image: url('/assets/EndTurn.png');">
            
        </button>

        <div id="game-over-overlay" class="game-over-overlay">
            <div class="game-over-panel" id="gameOverPanel">
                
                <h1 id="gameOverTitle" class="game-over-title">VICTORY</h1>
                
                <button id="mainMenuBtn" class="to-menu-btn" 
                    style="background-image: url('/assets/MainMenu.png');">
                </button>    
            </div>
        </div>

    </main>

    

    <script src="/socket.io/socket.io.js"></script>
    <script src="/api.js"></script>
    <script src="/websocket.js"></script>
    <script src="/game.js"></script>

</body>

</html>