<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lobby - Tavern Game</title>
    <link rel="stylesheet" href="/styles.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/api.js"></script>
    <script src="/websocket.js"></script>
    <script src="/lobby.js" defer></script>
</head>

<body style="--page-bg: url('/assets/LobbyBg.png');">

    <div class="lobby-layout">

        <button id="leaveBtn" class="leave-btn"
            style="background-image: url('/assets/Leave.png');"></button>

        
        
        <div class="lobby-panel">
            <div class="room-id" id="roomIdContainer" style="cursor: pointer;" title="Click to copy">
                Room ID: <span id="roomId">Loading...</span>
                <span id="copyTooltip" class="copy-tooltip">Copied!</span>
            </div>
            <div class="players-list" id="playersList">
                <div id="username1">Player 1</div>
                <div id="username2">Player 2</div>
            </div>

            <button id="startGameBtn" class="start-game-btn"
                style="background-image: url('/assets/StartGame.png');"></button>
        </div>

    </div>

</body>
</html>