<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="dashboardView" class="card">
        <h2>Welcome</h2>

        <p id="userID"></p>

        <button id="logoutBtn">Logout</button>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const userIDText = document.getElementById("userID");
    const logoutBtn = document.getElementById("logoutBtn");

    let socket = io({
        autoConnect: false
    });
    let socketConnected = false;

    async function checkAuth() {
        const res = await fetch("/api/me");
        const data = await res.json();

        if (!data.loggedIn) {
            window.location.href = "/login";
            return;
        }
        userIDText.textContent = `User ID: ${data.user.id}`;

        connectSocket();
    }

    checkAuth();

    logoutBtn.addEventListener("click", async () => {
        await fetch("/api/logout", {
            method: "POST"
        });

        await checkAuth();
    });

    function connectSocket() {
        if (socketConnected) return;

        socket.connect();
        socketConnected = true;

        socket.on("connect", () => {
            console.log("connected:", socket.id);
        });

        socket.on("game_update", (data) => {
            console.log("got data from server:", data);
        });

        socket.on("battle_completed", (data) => {
            console.log("got battle data from server:", data);
        });
    }
</script>

</html>