@font-face {
    font-family: 'SpongeBob'; 
    src: url('/assets/spongebob-font.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game board */
#game-table {
    aspect-ratio: 16 / 9;
    
    width: min(100vw, 100vh * (16/9));
    height: min(100vh, 100vw * (9/16));
    
    --px: calc(min(100vw, 100vh * (16/9)) / 1280);
    
    background-image: url('assets/table.jpg');
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: calc(15 * var(--px)); 
    position: relative;
    overflow: hidden;
}

/* --- Profile and HP UI ---*/
.profile-container {
    position: absolute;
    top: calc(10 * var(--px));
    display: flex;
    align-items: center; 
    gap: calc(5 * var(--px));
    z-index: 50;
}

.left-side {
    left: calc(10 * var(--px));
}

.right-side {
    right: calc(10 * var(--px));
}

.hp-container {
    display: flex;
    flex-wrap: wrap; 
    gap: calc(1 * var(--px)); 
    max-width: calc(370 * var(--px)); 
}

.avatar {
    width: calc(60 * var(--px)); 
    height: calc(60 * var(--px));
    border-radius: 50%; 
    border: calc(3 * var(--px)) solid white; 
    
    background-color: #333; 
    background-size: cover; 
    background-position: center;
}

.player-avatar {
    background-image: url('assets/player_avatar.jpg'); 
}

.opponent-avatar {
    background-image: url('assets/opponent_avatar.jpg'); 
}

.heart-icon {
    width: calc(35 * var(--px)); 
    height: calc(33 * var(--px));
    background-image: url('assets/heart.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.half-heart-icon {
    width: calc(35 * var(--px)); 
    height: calc(33 * var(--px));
    background-image: url('assets/half_heart.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#right-hp {
    flex-direction: row-reverse;
}

#right-hp .half-heart-icon {
    transform: scaleX(-1);
}

/* Card rows layout */
.card-row {
    display: flex;
    justify-content: center; 
    gap: calc(15 * var(--px)); 
    padding: calc(1 * var(--px)) calc(40 * var(--px)); 
    width: 100%;
}

/* Base card slot */
.card-slot {
    width: calc(159 * var(--px)); 
    height: calc(212 * var(--px)); 
    border-radius: calc(12 * var(--px)); 
    
    position: relative; 
}

.card-slot::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    
    pointer-events: none; 
    border-radius: inherit; 
    
    /* Dashed border */
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 159 212' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='4' y='4' width='151' height='204' fill='none' rx='8' stroke='white' stroke-width='2.5' stroke-dasharray='12,10'/%3e%3c/svg%3e");    

    background-size: 100% 100%;
}

/* Highlighted state */
.card-slot.highlight {
    box-shadow: 
        0 0 calc(25 * var(--px)) rgba(20, 235, 0, 0.6), 
        inset 0 0 calc(25 * var(--px)) rgba(20, 235, 0, 0.6); 
        
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

/* Normal occupied state */
.card-slot.occupied {
    background-color: transparent; 
    box-shadow: none; 
    cursor: default;
    transition: background-color 0.3s ease;
}

/* Hide the dashed line */
.card-slot.occupied::after {
    opacity: 0; 
    transition: opacity 0s;
}

.card-slot:has(.attacking)::after {
    opacity: 1;
}

/* Card placed on the board */
.board-card {
    width: 100%;
    height: 100%;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
    z-index: 10; 
    
    opacity: 0;
    animation: fadeIn 0.4s ease forwards;

    --move-x: 0px;
    --move-y: 0px;
    --scale: 1;
    --lift-y: 0px;
    
    transform: translate3d(var(--move-x), calc(var(--move-y) + var(--lift-y)), 0) scale(var(--scale));
    
    transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1), filter 0.25s ease;
    will-change: transform, filter;
    
    backface-visibility: hidden; 
}

/* Overall state during attack */
.board-card.attacking {
    z-index: 100; 
}

/* The "in air" state for card */
.board-card.lifted {
    --scale: 1; 
    --lift-y: calc(-20 * var(--px)); 
    filter: drop-shadow(0 calc(20 * var(--px)) calc(15 * var(--px)) rgba(0,0,0, 0.6));
}

/* The "impact/squat" state */
.board-card.striking {
    --scale: 1; 
    --lift-y: calc(10 * var(--px)); 
    filter: drop-shadow(0 calc(2 * var(--px)) calc(3 * var(--px)) rgba(0,0,0, 0.8)); 
    
    transition: transform 0.15s cubic-bezier(0.4, 0, 1, 1), filter 0.15s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Player hand container */
.hand-container {
    position: absolute;
    bottom: calc(2 * var(--px));
    left: calc(30 * var(--px)); 
    
    display: flex;
    align-items: flex-end; 
    height: calc(120 * var(--px)); 
    cursor: pointer;
    z-index: 60; 
}

/* Individual small card in hand */
.hand-card {
    width: calc(112 * var(--px)); 
    height: calc(150 * var(--px)); 
    
    background-image: url('assets/card_suit.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    
    margin-left: calc(var(--overlap, -100) * var(--px));    
    transform-origin: bottom center; 
    transform: translateY(calc(var(--card-y, 0) * var(--px))) rotate(var(--card-angle, 0));
    
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), filter 0.3s ease;
}

.hand-card:first-child {
    margin-left: 0;
}

/* Selected card in hand */
.hand-card.selected {
    transform: translateY(calc(-25 * var(--px))) rotate(0deg) scale(1.3) !important;
    filter: drop-shadow(0 0 calc(10 * var(--px)) #a2ff9a);
    border-radius: calc(10 * var(--px));
    z-index: 100 !important;
}

/* Energy UI layout */
#energy-counter {
    position: absolute;
    
    top: 17%;
    transform: translateY(-50%); 
    right: calc(5 * var(--px));  
    
    display: flex;
    align-items: center; 
    gap: calc(10 * var(--px)); 
    z-index: 50;
}

/* Number text styling */
#energy-amount {
    font-family: 'SpongeBob', sans-serif;
    font-size: calc(54 * var(--px)); 
    
    -webkit-text-stroke: calc(2 * var(--px)) white; 
    
    display: inline-block; 
    transform: scaleX(0.8); 
    transform-origin: right;

    position: relative;
    top: calc(7 * var(--px));

    transition: color 0.3s ease;
}

.energy-zero {
    color: #ff3333; 
}

.energy-positive {
    color: #13EB00; 
}

/* Burger icon*/
.energy-icon {
    width: calc(68 * var(--px)); 
    height: calc(61 * var(--px)); 
    
    background-image: url('assets/mini_burger.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* --- Decks Layout --- */
#decks-container {
    position: absolute;
    bottom: calc(10 * var(--px)); 
    right: calc(8 * var(--px));
    
    display: flex;
    gap: calc(10 * var(--px)); 
    z-index: 50;
}

.deck {
    width: calc(90 * var(--px)); 
    height: calc(120 * var(--px));
    
    background-image: url('assets/card_suit.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: calc(6 * var(--px));
    cursor: pointer;
    
    filter: 
        drop-shadow(calc(-2 * var(--px)) calc(1 * var(--px)) 0px rgba(20, 20, 35, 0.9))
        drop-shadow(calc(-1 * var(--px)) calc(1 * var(--px)) 0px rgba(150, 150, 180, 0.3))
        drop-shadow(calc(-2 * var(--px)) calc(1 * var(--px)) 0px rgba(20, 20, 35, 0.9))
        drop-shadow(calc(-2 * var(--px)) calc(1 * var(--px)) 0px rgba(20, 20, 35, 0.9));
        
    will-change: transform, filter;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    
    transition: transform 0.2s ease, filter 0.2s ease;
}

.deck:hover {
    transform: translate3d(0, calc(-5 * var(--px)), 0);
    
    filter: 
        drop-shadow(calc(-2 * var(--px)) calc(2 * var(--px)) 0px rgba(20, 20, 35, 0.9))
        drop-shadow(calc(-1 * var(--px)) calc(1 * var(--px)) 0px rgba(150, 150, 180, 0.3))
        drop-shadow(calc(-2 * var(--px)) calc(2 * var(--px)) 0px rgba(20, 20, 35, 0.9))
        drop-shadow(calc(-2 * var(--px)) calc(2 * var(--px)) 0px rgba(20, 20, 35, 0.9))
        drop-shadow(0 calc(10 * var(--px)) calc(15 * var(--px)) rgba(0,0,0, 0.3));
}

#free-deck {
    background-image: url('assets/free_card.png'); 
}

#random-deck {
    background-image: url('assets/card_suit.png'); 
}
